#mappingsTree {margin-top:2px;}
treechildren::-moz-tree-cell(current-version) {background-color:InfoBackground; border:1px solid GrayText; text-align:center;}
treechildren::-moz-tree-cell-text(current-version) {color:InfoText;}
treechildren::-moz-tree-cell(checkbox-hover, hover) {cursor:pointer;}
treechildren::-moz-tree-cell(checkbox-hover-guide, hover) {border:1px inset #444; cursor:pointer;}
treechildren::-moz-tree-cell-text(separator) {color:GrayText; margin-left:8px; margin-right:6px;}
treechildren::-moz-tree-checkbox(checked) {list-style-image:url(chrome://noise/skin/check.png);}

#noise-prefs-findbar {
  margin:0 4px; padding-top:1px; border:2px solid; border-top:none;
  -moz-border-bottom-colors: ThreeDShadow ThreeDHighlight;
  -moz-border-right-colors: ThreeDShadow ThreeDHighlight;
  -moz-border-left-colors: ThreeDShadow ThreeDHighlight;
}
#noise-prefs-findbar-textbox {-moz-appearance:none; border:none; margin:0;}
#noise-prefs-findbar-textbox[status="notfound"] {background-color:#FF6666;}

.find-status-icon {
  margin-left: 12px;
}
.find-buttons-container toolbarbutton:active {
  background: rgba(23,50,76,.2);
  box-shadow: 0 1px 2px rgba(10,31,51,.2) inset;
}
.findbar-find-previous {
  border-right: 1px solid ThreeDShadow;
}
.find-status-icon[status="notfound"] {
  list-style-image: url("chrome://global/skin/icons/information-16.png");
}
.find-status-icon[status="wrapped"] {
  list-style-image: url("chrome://global/skin/icons/wrap.png");
}

prefwindow, prefpane {padding-top:0; padding-bottom:0;}
#events-guide-link {margin-right:8px;}
#noise-prefs-main-buttonset {margin-bottom:0;}
#noise-edit-groupbox-file {margin-top:18px;}
#icon-not-apply {margin-right:14px; cursor:help;}

description {overflow:auto;}
#eventsTree {margin:6px 0;}
#event-description {
  padding:0 9px 8px; margin:0; min-height:3em;
  word-wrap:break-word;
}
